.hidden { display: none; }

div#time-picker-wrap {
    border: 2px solid #77bbff;
    color: #1166bb;
    padding: 3px;
    margin: 0;
    background: #fff;
    position: absolute;
    text-align: center;
}

#time-picker-wrap table tr, #time-picker-wrap table td {
    font-size: 22px;
    vertical-align: middle;
    text-align: center;
}

#time-picker-wrap div.scoreboard {
    cursor: default;
    margin: 3px 10px;
}

#time-picker-wrap .scoreboard .increase-button span,
#time-picker-wrap .scoreboard .decrease-button span { 
    cursor: pointer;
    display: block;
    height: 16px;
    width: 24px;
    margin: 0 auto;
}
#time-picker-wrap .scoreboard .increase-button span {
    background: url("increase.png") no-repeat;
}
#time-picker-wrap .scoreboard .decrease-button span {
    background: url("decrease.png") no-repeat;
}

#time-picker-wrap .scoreboard .score span {
    font-family: monospace;
    display: block;
    padding: 4px 0;
}

#time-picker-wrap .time-suggest-wrap td {
    font-size: 12px;
    cursor: pointer;
    padding: 1px;
}

#time-picker-wrap .clear-wrap, #time-picker-wrap .close-wrap {
    font-size: 12px;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
    border: 1px solid #77bbff;
}

#time-picker-wrap .time-suggest-wrap td:hover,
#time-picker-wrap .clear-wrap:hover, #time-picker-wrap .close-wrap:hover {
    background: #77bbff;
    color: #fff;
    font-weight: bold;
}
